@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    --maincolor: #333333;
    --secondarycolor: #4F4F4F;
}

header {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    color: var(--maincolor);
    letter-spacing: -1.25px;
    margin-left: 4%;
    margin-top: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

img {
    width: 80%;
    position: relative;
    margin: 0 auto;
    margin-top: 20%;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 48px;
    letter-spacing: -2px;
    color: var(--maincolor);
    margin-left: 5%;
    margin-top: 15%;
    line-height: 70px;
}

p {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    letter-spacing: -1px;
    max-width: 90%;
    margin-left: 5%;
    color: var(--secondarycolor);
    margin-top: -2%;
}

input {
    border-radius: 0;
    background-color: var(--maincolor);
    border: none;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    width: 216px;
    height: 68px;
    color: white;
    letter-spacing: -1px;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 13%;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #BDBDBD;
    font-size: 14px;
    text-align: center;
    margin-top: 35%;
}

a {
    color: #BDBDBD;
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

@media (min-width: 810px) {
    img {
        margin-top: 5%;
        width: 70%;
    }
    h1 {
        margin-top: 10%;
    }
    input {
        margin-top: 5%;
    }
    footer {
        margin-top: 15%;
    }
}

@media (min-width: 1280px) {
    * {
        overflow-x: hidden;
    }
    .container {
        flex-direction: row;
        margin-top: 5%;
        margin-left: 5%;
    }
    header {
        margin-top: 2.5%;
    }
    img {
        width: 35%;
    }
    h1 {
        width: 60%;
    }
    p {
        width: 50%;
    }
    footer {
        margin-top: 10%;
    }
}

@media (min-width: 1920px) {
    .container {
        margin-left: -2.5%;
        margin-top: 2.5%;
    }
    h1 {
        margin-left: 0;
        margin-top: 25%;
        width: 70%;
    }
    p {
        margin-left: 0;
        margin-top: 5%;
        width: 70%;
    }
    input {
        margin-left: 0;
    }
    footer {
        margin-top: 7.5%;
    }
}

@media (min-width: 2560px) {
    .container {
        margin-left: 5%;
        margin-top: 0%;
    }
    header {
        font-size: calc(14px * 2);
    }
    h1 {
        margin-left: 5%;
        margin-top: 10%;
        font-size: calc(48px * 2);
        max-height: max-content;
        line-height: calc(70px * 2 + 2px);
    }
    p {
        margin-left: 5%;
        margin-top: -2.5%;
        font-size: calc(18px * 2);
    }
    input {
        margin-left: 5%;
        font-size: calc(14px * 2);
        width: calc(216px * 2);
        height: calc(68px * 2);
    }
    footer {
        font-size: calc(14px * 2);
    }
}

@media (min-width: 3840px) {
    .container {
        margin-top: -2.5%;
    }
    header {
        font-size: calc(14px * 4);
    }
    h1 {
        margin-left: 10%;
        margin-top: 10%;
        font-size: calc(48px * 3);
        max-height: max-content;
        line-height: calc(70px * 4 + 4px);
        width: 80%;
    }
    p {
        margin-left: 10%;
        margin-top: -2.5%;
        font-size: calc(18px * 4);
    }
    input {
        margin-left: 10%;
        font-size: calc(14px * 4);
        width: calc(216px * 4);
        height: calc(68px * 4);
    }
    img {
        width: 50%;
    }
    footer {
        font-size: calc(14px * 4);
    }
}
